.containter-header {
    width: 100%;
    height: 200px;
    background-color: salmon;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}